<%- include("templates/cabecera", {tituloWeb:'Servicios'}) %>

    <body>
        <h1>Titulo de mis Servicios</h1>
        <h2>
            <%= titulo %>
        </h2>
        <%- include("templates/footer") %>